# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

.mcp.json

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

# Flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/android/app/build/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/Flutter.framework
apps/mobile/ios/Flutter/Flutter.podspec
apps/mobile/ios/Flutter/Generated.xcconfig
apps/mobile/ios/Flutter/app.flx
apps/mobile/ios/Flutter/flutter_export_environment.sh
apps/mobile/ios/ServiceDefinitions.json
apps/mobile/ios/Runner/GeneratedPluginRegistrant.*
*.g.dart
*.freezed.dart
*.gen.dart

# env
.env
.env.*
!.env.example
